* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.add-movie-container {
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* margin-top: 10vh; */
}

.add-movie-class {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}
