.movie-container {
  margin: 30px;
  /* padding: 10px 10px 10px 0px; */
  width: 400px;
  box-shadow: 5px 10px 20px rgba(95, 86, 86, 0.5);

  border-radius: 10px;
  background-color: whitesmoke;
  padding: 30px;
}

.movie-poster {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.movie-spec {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px 0px 30px;
}

.movie-summary {
  text-align: justify;
  padding: 10px 20px;
}

/* .addForm {
  display: flex;
} */
